
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 75px;
    background: #0000aa;
}

.searchForm {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.input {
    border: none;
    outline: none;
    font-size: 18px;
    width: 400px;
}

.button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 24px;
    display: flex;
}